.pf-c-options-menu {
  display: none !important;
}

.pf-c-pagination__total-items {
  display:none !important;
}

.pf-c-pagination:not(.pf-m-footer) .pf-c-pagination__nav {
  display: inline-flex !important;
  visibility: visible !important;
}
